body{
  background-image: url('../assets/images/sport.jpg');
  background-position: left top;
  background-repeat: repeat;
  margin: 0;
}

.menu-bar > a {
  margin-left: 40px;
}

.location-map {
  height: 500px;
}

.image-gallery{
 height: 600px;
  width: 800px;
}

.galleryImage
{
  height: 600px;
  width: 800px;
}
.galleryTeamLogo
{
  height: 200px;
  width: 100px;
}

.circle {
  height: 40px;
  width: 40px;
  padding: 4px 8px;
  font-size: 18px;
  border: 5px solid #333;
  border-radius: 20px;
}

.day-match {
  border-radius: 10px;
}

.schedule-date {
  color: #333;
}

.battle-match {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  min-width: 200px;
}

.team-card-front, .team-card-back {
  width: 150px;
}