.menu-bar > a {
  margin-left: 40px;
}

.schedule-day {
  margin-bottom: 20px;
}

.location-map {
  height: 350px;
}

.no-opacity {
  opacity: 1;
}

body{
  background-image: url('../assets/images/sport.jpg');
  background-position: left top;
  background-repeat: repeat;
  margin: 0;
  opacity: 0.9;
}